body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;


    background-image: url(background\ .jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: green;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #333;
    font-size: 18px;
    text-align: center;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}